<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lee Lawrence</title>
</head>
<body >


  <TABLE WIDTH="100%"><TD>
My name is Lee Lawrence. I was born some time in the very distant past, when roads were lit by gas lamps and Jack the Ripper roamed the sreets. My birth happened in Balham, London (Gateway to the South apparently - whatever that means).  I spent my early years in Tooting (home of Wolfie Smith of Tooting Popular Front fame (ask an old person)).<P>

A year later, I emigrated to Australia as part of the governments scheme to populate the country with british people who weren't convicts. We settled in Adelaide where we stayed for 2 years before returning home.
<P>
On returning to London, I went to sellingcourt School in Tooting where I learnt stuff. 5 years later, I went to my secondary school where I was to stay for 5 years. Famous alumni of that school include Art Malik, Marc Bolan and, the most important of those being Ortis Deley (from the gadget show).
<P>
After being at school for what seemed like forever, I left to work in the post office as a 'Young' Postman. This involved delivering telegrams to residents of the SW1-10 area. This included:- The Queen, The Houses of Parliament, Harrods and most of the West End theatres.
<P>
 After a year, I progressed to the Post Office counters where I worked in the other part of SW London which included Brixton amongst other places. This is where I was when the Brixton riots broke out - scary stuff!!!. I moved along the road to Stockwell after a while where it felt a bit safer until an Andy Capp type held me up at gunpoint while his friend stood at the door with a sawn off shotgun sticking out of his tesco's carrier bag.. 
<P>
From there I moved onto the administration side of the Post Office where I started working with computers.
<P>
In 1989, I too a 12 week computer course in hardware engineering to become (surprise surpise) a computer engineer - DO I NEVER LEARN!!!!!.
<P>
I did until I moved to Scotland in 1993 with my Scottish wife where I turned my hand to development. This I have been doing ever since.

Somewhere along the way I became British Veteran Cycle Speedway Champion.


</font></TD>
    <TD>
<IMG SRC= "/lee.jpg" /
<BR><CENTER><B>Pictured in 2015.</B>
    </TD>

  </TABLE>


</body>
</html>