<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lee Lawrence</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
<HR>
  <CENTER><h2>Lee Lawrence</h2><HR>
  <!-- <TABLE WIDTH ='100%'>
  <TD WIDTH='33%'></TD>
  <TD WIDTH='33%'>
  <h3><MARQUEE>Cohort 6</MARQUEE><h3></TD><
  TD WIDTH='33%'></TD></TABLE> -->
<TABLE WIDTH="100%">
<TD WIDTH="20%" ><B><CENTER>
<input width="500px" type=button class="myButton" value="Home" 
onClick="window.location='/'">
</TD>

<TD WIDTH="20%"><B><CENTER><input type=button class="myButton" value="Interests" 
onClick="window.location='/interests'">
</TD>


<TD WIDTH="20%"><B><CENTER><input type=button class="myButton" value="Family" 
onClick="window.location='/family'">
</TD>
<TD WIDTH="20%"><B><CENTER><input type=button class="myButton" value="Address" 
onClick="window.location='/address'">

<TD WIDTH="20%"><B><CENTER><input type=button class="myButton" value="Other" 
onClick="window.location='/other'">
</TABLE>




<!-- <Table WIDTH="100%">
<TD WIDTH="20%">
<a href='/'><B>home</a></TD>

<TD WIDTH="20%"><B><a href='/Interests'>Interests</a></TD>
<TD WIDTH="20%"><B><a href='/family'>Family</a></TD>
<TD WIDTH="20%"><B><a href='/family'>Something Else</a></TD>
<TD WIDTH="20%"><B><a href='/family'>Something elese else</a></TD>
</TABLE> -->


</CENTER><HR>  <%= yield %>
</body>
</html>