<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lee Lawrence</title>
</head>
<body >
<CENTER><h1><FONT color='Gray'>Other</h1><CENTER>
Some other stuff
</CENTER></body>
</html>